* {
    font: "JetBrainsMono NF Bold 12";
    background: #161616;
    bg-alt: #161616AA;
    background-alt: #16161600;
    foreground: #F2F4F8;
    selected: #3DDBD9;
    active: #42BE65;
    urgent: #F1C21B;
}
